.navbar-nav a {
    color: #000;
    margin: 0px 22px;
    text-decoration: none;
    font-size: 16px;
}
.navbar-nav .active {
    color: orange;
    font-weight: bold;
    
}
.navbar-nav a:hover {
    color: orange;
}
.navbar-brand img {
    width: 180px;
}
.navbar {
    background: #FAF7EF !important;
}